@font-face {
    font-family: wild;
    src: url(/strikeout/resources/fonts/wild.ttf);
}

html, body {
    overflow-y: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

.link:hover{
    cursor: pointer;
    opacity: .5;
}
.middle
{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

@media (orientation: landscape) 
{
    #menuCircle
    {
        width: 80vh;
        grid-area: overlap;
    }
    .loginContainer
    {
        grid-area: overlap;
        justify-self: center;
        align-self: center;

        position: relative;
        bottom: 3vh;
    }
    .strikeoutTitle
    {
        font-family: wild;
        font-size: 7vh;
        color: #fbf2ec;
        letter-spacing: 1vh;
    }
    #star1
    {
        width: 6vh;
        position: fixed;
        top: 15vh;
        right: 15vh;
    }
    #star2
    {
        width: 6vh;
        position: fixed;
        bottom: 15vh;
        right: 30vh;
    }
    #star3
    {
        width: 6vh;
        position: fixed;
        top: 30vh;
        left: 12vh;
    }
    p
    {
        font-size: 2.6vh;
        color: #fbf2ec;
    }
    .link
    {
        color: #ffc9e6;
    }   
    .error
    {
        font-size: 2.2vh;
        color: #ffa0c2;
        position: fixed;
        bottom: 4vh;
    }
}

@media (orientation: portrait) 
{
    #menuCircle
    {
        width: 90vw;
        grid-area: overlap;
    }
    .loginContainer
    {
        grid-area: overlap;
        justify-self: center;
        align-self: center;

        position: relative;
        bottom: 2.5vw;
    }
    .strikeoutTitle
    {
        font-family: wild;
        font-size: 7vw;
        color: #fbf2ec;
        letter-spacing: 1vw;
    }
    #star1
    {
        width: 6vw;
        position: fixed;
        top: 15vw;
        right: 15vw;
    }
    #star2
    {
        width: 6vw;
        position: fixed;
        bottom: 30vw;
        right: 30vw;
    }
    #star3
    {
        width: 6vw;
        position: fixed;
        top: 40vw;
        left: 12vw;
    }
    p
    {
        font-size: 2.6vw;
        color: #fbf2ec;
    }
    .link
    {
        color: #ffc9e6;
    }   
    .error
    {
        font-size: 2.6vw;
        color: #ffa0c2;
    }
}
