@font-face {
    font-family: wild;
    src: url(/strikeout/resources/fonts/wild.ttf);
}

html, body {
    overflow-y: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

.link:hover{
    cursor: pointer;
    opacity: .5;
}
@media (orientation: landscape) 
{
    #menuCircle
    {
        width: 70vh;
        grid-area: overlap;
    }
    .loginContainer
    {
        grid-area: overlap;
        justify-self: center;
        align-self: center;

        position: relative;
        bottom: 3vh;
    }
    .strikeoutTitle
    {
        font-family: wild;
        font-size: 7vh;
        color: #fbf2ec;
        letter-spacing: 1vh;
    }
    input
    {
        background-color: #fbf2ec;
        text-align: center;
        font-family: odin;
        padding: 1vh;
        border-radius: 5vh;
        border: 0px;
    }
    button
    {
        background-color: #fbf2ec;
        text-align: center;
        font-family: odin;
        padding: 1vh 3vh 1vh 3vh;
        border-radius: 5vh;
        border: 0px;
    }
}

@media (orientation: portrait) 
{
    #menuCircle
    {
        width: 85vw;
        grid-area: overlap;
    }
    .loginContainer
    {
        grid-area: overlap;
        justify-self: center;
        align-self: center;

        position: relative;
        bottom: 3vw;
    }
    .strikeoutTitle
    {
        font-family: wild;
        font-size: 7vw;
        color: #fbf2ec;
        letter-spacing: 1vw;
    }
    input
    {
        background-color: #fbf2ec;
        text-align: center;
        font-family: odin;
        padding: 1vw;
        border-radius: 5vw;
        border: 0px;
    }
    button
    {
        background-color: #fbf2ec;
        text-align: center;
        font-family: odin;
        padding: 1vw 3vw 1vw 3vw;
        border-radius: 5vw;
        border: 0px;
    }
    #star1
    {
        width: 6vw;
        position: fixed;
        top: 15vw;
        right: 15vw;
    }
    #star2
    {
        width: 6vw;
        position: fixed;
        bottom: 30vw;
        right: 30vw;
    }
    #star3
    {
        width: 6vw;
        position: fixed;
        top: 40vw;
        left: 12vw;
    }
    p
    {
        font-size: 2.6vw;
        color: #fbf2ec;
    }
    .link
    {
        color: #ffc9e6;
    }   
}
